#!/bin/bash

id=$(curl http://169.254.169.254/metadata/v1/id)
api_key="{{ api_key }}"
ttl="{{ ttl }}"

time=$(curl -s -X GET -H "Content-Type: application/json" -H "Authorization: Bearer $api_key" "https://api.digitalocean.com/v2/droplets/$id" | python3 -c "import sys, json; print(json.load(sys.stdin)['droplet']['created_at'])")
creation_time=$(date -d "$time" +%s)
uptime=$(python -c "print(($(date +%s) - $creation_time) / 3600)")


if (( $uptime > $ttl )); then
  echo "self-destruct starting!"
  status_code=0
  while [[ $status_code != "204" ]]; do
    status_code=$(curl -LI -w '%{http_code}\n' -s -o /dev/null -X DELETE -H "Content-Type: application/json" -H "Authorization: Bearer $api_key" "https://api.digitalocean.com/v2/droplets/$id")
    echo "response:" $status_code
    sleep 10
  done
  echo "self-destruct successful"
else
  echo "uptime: " $uptime "hrs" "ttl: " $ttl "hrs"
fi
